# userは別の場所で設定して、このファイルはincludeする
[push]
  default = matching

# pushのときにhttpが指定されていようとsshを使う
[url "git@github.com:"]
  pushInsteadOf = git://github.com
  pushInsteadOf = https://github.com/

[ghq]
  root=~/develop/ghq
  root=~/develop/go/src
