[user]
  name = TSUYUSATO Kitsune
  email = make.just.on@gmail.com
[push]
  default = matching

# pushのときにhttpが指定されていようとsshを使う
[url "git@github.com:"]
  pushInsteadOf = git://github.com
  pushInsteadOf = https://github.com/

[ghq]
  root=~/develop/ghq
  root=~/develop/go/src
